body{
    background-color: silver;
text-align: center;
}
.card{
    background-color: aqua;
    height: 300px;
    width: 250px;
    border-radius:10px; 
    display: inline-block;
    overflow: hidden;

}
.card-body{
    background-color: blueviolet;
    height: 70px;
    width: 90% auto 20px 50px;
    border-radius: 10px;
    padding-top: 5px;
    margin: 10px;
    transition: .3s ease-out ;
}
.card:hover{
    background: whitesmoke;
}
.text{
    text-align: center;
    padding-top: 5px;

}
.card-body:hover{
    background: silver;
    height: 200px;
}
.butt-main{
    text-align: center;
    border-radius: 10px;
    border: none;
}
.button-body{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: silver;
    border: 1px solid black;
    padding: 0;
}
.button-ach{
    text-decoration: none;
    color: black;
}
.button-body:hover{
    background: yellowgreen;
    border: none;
}
.button-body:active{
    background: transparent;
    border: 2px solid yellowgreen;
}